## List Comprehension

List comprehension provides a concise way to create a list.

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [1]:
ls1=[]
def lst_sq(ls):
    for i in ls:
        ls1.append(i*i)

In [2]:
ls=[1,2,3,4,5,6,7]
lst_sq(ls)

In [3]:
ls1

[1, 4, 9, 16, 25, 36, 49]

##### Using list comprehension :

finding square of numbers in a list-

In [4]:
ls2=[i*i for i in ls]

In [5]:
ls2

[1, 4, 9, 16, 25, 36, 49]

finding even number-

In [6]:
l1=[1,2,3,4,5,6,7,8,9]

In [7]:
l2=[i for i in l1 if i%2==0]

In [8]:
l2

[2, 4, 6, 8]

## String Formatting

In [9]:
print("Hello")

Hello

In [10]:
def format_sp(name):
    print("My name is {}".format(name))
    #return "My name is {}".format(name)

In [11]:
format_sp("Rio")

My name is Rio

In [12]:
def for_sp(fn,ln):
    return "My name is {} {}".format(fn,ln)

In [13]:
for_sp("Manaswini","Sahoo")

'My name is Manaswini Sahoo'

## Iterables And Iterators

List is iterable.

In [14]:
ls=[1,2,3,4,5]

for i in ls:
    print(i)

1
2
3
4
5

iter() will convert the list into an iterator.

In [15]:
l1=[44,67,21,89,96]

In [16]:
l2=iter(l1)

In [17]:
l2

In [18]:
next(l2)

44

In [19]:
for i in l2:
    print(i)

67
21
89
96